<div class="container h-100">

  <div class="row h-100 d-flex align-items-center justify-content-evenly">

    <div class="formulario m-5 col-md-8 col-lg-6">

      <div class="logo m-5 text-center">
        <img class="" src="../../../assets/logo_gestaclub_registro.png" alt="Logo GestaClub App">
      </div>

      <form class="m-5 needs-validation" novalidate [formGroup]="this.formRegister" (ngSubmit)="registrarse()">

        <h3 class="my-4">Registro</h3>

        <div *ngIf="this.falloRegistroBack" class="alert alert-danger alert-dismissible" role="alert">
          Error en el proceso de registro.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div *ngIf="this.exitoRegistroBack" class="alert alert-success alert-dismissibleposition-fixed fade show"
        role="alert">
           Registro realizado correctamente. Espere unos segundos para autenticarse.
            <div class="d-flex justify-content-end">
              <button (click)="hacerLogin()" type="button" class="btn btn-outline-success btn-sm"
                data-mdb-riple-color="dark" data-bs-dismiss="alert" aria-label="Close">Login</button>
            </div>
        </div>

        <div *ngIf="this.passDistintas" class="form-text text-danger fs-5 my-4">
          <p>Las contraseñas introducidas son distintas.</p>
        </div>

        <div class="form-outline my-4">
          <span class="form-text text-danger fs-6"
            *ngIf="this.formRegister.get('nombre')?.invalid && this.formRegister.get('nombre')?.touched">
            Inserte un nombre</span>

          <input
            type="text"
            id="formRegisterName"
            name="formRegisterName"
            formControlName="nombre"
            class="form-control"
            autocomplete="off"
            placeholder="Introduzca su nombre"
            [ngClass]="{'is-invalid': this.formRegister.get('nombre')?.invalid && this.formRegister.get('nombre')?.touched}"
          />

          <label class="form-label" for="registerUsername">Nombre</label>
        </div>

        <div class="form-outline my-4">
          <span class="form-text text-danger fs-6"
            *ngIf="this.formRegister.get('email')?.invalid && this.formRegister.get('email')?.touched">
            Formato email incorrecto</span>

          <input
            type="email"
            id="formRegisterEmail"
            name="formRegisterEmail"
            formControlName="email"
            class="form-control"
            autocomplete="off"
            placeholder="Introduzca email"
            [ngClass]="{'is-invalid': this.formRegister.get('email')?.invalid && this.formRegister.get('email')?.touched}"
          />

          <label class="form-label" for="formRegisterEmail">Email</label>
        </div>

        <div class="form-outline my-4">
          <span class="form-text text-danger fs-6"
            *ngIf="this.formRegister.get('pass1')?.invalid && this.formRegister.get('pass1')?.touched">
            Introduzca contraseña</span>

          <input
            type="password"
            id="formRegisterPass1"
            name="formRegisterPass1"
            formControlName="pass1"
            class="form-control"
            placeholder="Introduzca contraseña"
            [ngClass]="{'is-invalid': this.formRegister.get('pass1')?.invalid && this.formRegister.get('pass1')?.touched}"
          />

          <label class="form-label" for="formRegisterPass1">Contraseña</label>
        </div>

        <div class="form-outline my-4">
          <span class="form-text text-danger fs-6"
            *ngIf="this.passDistintas">
            La contraseña no coincide</span>

          <input
            type="password"
            id="formRegisterPass2"
            name="formRegisterPass2"
            formControlName="pass2"
            class="form-control"
            placeholder="Repita la contraseña"
            [ngClass]="{'is-invalid':this.formRegister.get('pass2')?.invalid && this.formRegister.get('pass2')?.touched}"
          />

          <label class="form-label" for="formRegisterPass2">Contraseña</label>
        </div>

        <div class="form-check d-flex my-4">
          <input
          type="checkbox"
          id="registerCheck"
          name="registerCheck"
          formControlName="check"
          class="form-check-input me-2"
          value=""
          unchecked
          aria-describedby="registerCheckAgree" />

          <label class="form-label" for="registerCheck">He leido y acepto cumplir las normas de la aplicación</label>
        </div>

        <div *ngIf="!this.exitoRegistroBack"class="d-grid gap-2 col-6 mx-auto">
          <button
          [disabled]="this.formRegister.invalid"
          type="submit"
          class="btn btn-primary btn-block mb-3">
          Registrarse
          </button>
        </div>

        <div class="text-center my-4">
          <p>¿Ya estás registrado? <a class="irARegistro" (click)="hacerLogin()">Login</a></p>
        </div>

      </form>
    </div>
  </div>
</div>
