<app-cabecera></app-cabecera>
<div class="container-fluid">
  <h1 class="m-2 d-flex justify-content-center">Fichas de deportistas</h1>


  <div class="row">
    <div [@slideInAnimation]="sidebarState" class="col-md-3 col-lg-2 d-md-block sidebar">
      <app-menu-ficha></app-menu-ficha>
    </div>
    <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 py-4">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

    <app-footer></app-footer>

</div>
