<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card rounded-lg overflow-auto">
      <div class="card-body">
        <h4 class="card-title mb-3">Alta de cuota</h4>
        <h5 class="card-subtitle"></h5>
        <form [formGroup]="partidoForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="categoria_id" class="form-label">Categoría</label>
            <input type="number" id="categoria_id" class="form-control" formControlName="categoria_id">
          </div>
          <div class="mb-3">
            <label for="contrincante" class="form-label">Contrincante</label>
            <input type="text" id="contrincante" class="form-control" formControlName="contrincante">
          </div>
          <div class="mb-3">
            <label for="competicion" class="form-label">Competición</label>
            <input type="text" id="competicion" class="form-control" formControlName="competicion">
          </div>
          <div class="mb-3">
            <label for="fecha_partido" class="form-label">Fecha del Partido</label>
            <input type="date" id="fecha_partido" class="form-control" formControlName="fecha_partido">
          </div>
          <button type="submit" class="btn btn-primary">Crear Partido</button>
        </form>
      </div>
    </div>
  </div>
</div>

