<div class="row my-4 animated fadeIn fast">
  <div class="col-12">
      <div class="card rounded-lg">
          <div class="card-body">
              <h4 class="card-title"></h4>
              <h5 class="card-subtitle">Cuotas de {{ deportista?.nombre }} {{deportista?.apellidos}}.</h5>
              <div class="table-responsive mt-4">
                  <table class="table table-bordered table-sm table-hover">
                      <thead>
                          <tr>
                              <th class="text-center">#</th>
                              <th class="text-center">dni</th>
                              <th class="text-center">temporada</th>
                              <th class="text-center">mes</th>
                              <th class="text-center">importe</th>
                              <th class="text-center">estado</th>
                              <th class="text-center">fecha_pago</th>
                              <th class="text-center">tipo_pago</th>
                              <th class="text-center"></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let cuota of cuotasPaginadas">
                              <td class="text-center">{{ cuota.id }}</td>
                              <td class="text-center">{{ cuota.dni_deportista }}</td>
                              <td class="text-center">{{ cuota.temporada }}</td>
                              <td class="d-flex justify-content-between align-items-center">
                                  {{ cuota.mes }}
                                  <a routerLink="/cuota/listXmes/{{ cuota.mes }}">
                                    <img class="icono" src="../../../assets/lupa.png"
                                    alt="Icono mostrar cuotas por mes">
                                  </a>
                              </td>
                              <td class="text-center">{{ cuota.importe }}</td>
                              <td class="text-center">{{ cuota.estado }}</td>
                              <td *ngIf="cuota.estado === 'pendiente' && cuota.fecha_pago === null
                                && cuota.tipo_pago === ''; else elsePagado" class="text-center">
                                  <a routerLink="/cuota/formPago/{{ cuota.id }}"
                                  class="btn btn-success btn-sm">Pagar</a>
                              </td>
                              <ng-template #elsePagado>
                                <td class="text-center">
                                  {{ cuota.fecha_pago }}
                                </td>
                              </ng-template>
                              <td *ngIf="cuota.tipo_pago===''; else elseTipo" class="text-center">
                                <a (click)="llamarEnviarReclamacion(cuota)" class="btn btn-danger btn-sm">Reclamar</a>
                            </td>
                            <ng-template #elseTipo>
                              <td  class="d-flex justify-content-between align-items-center">
                                  {{ cuota.tipo_pago }}
                                  <a *ngIf="cuota.tipo_pago!==''" routerLink="/cuota/listXpago/{{ cuota.tipo_pago }}">
                                    <img class="icono" src="../../../assets/lupa.png"
                                    alt="Icono mostrar cuotas por mes">
                                  </a>
                              </td>
                            </ng-template>
                              <td class="text-center">
                                <a routerLink="/cuota/datosC/{{ cuota.id }}">
                                  <img class="icono" src="../../../assets/ojo.png"
                                  alt="Icono mostrar detalle de cuota">
                                </a>
                            </td>
                          </tr>

                      </tbody>
                  </table>
              </div>
              <div class="paginacion text-center" *ngIf="cuotas.length > itemsXpagina">
                <button class="btn btn-secondary btn-sm" (click)="anterior()" [disabled]="paginaActual === 1">Anterior</button>
                <span>   Página {{ paginaActual }}   </span>
                <button class="btn btn-secondary btn-sm" (click)="siguiente()" [disabled]="paginaActual * itemsXpagina >= cuotas.length">Siguiente</button>
              </div>
              <h6 class="">{{ deportista?.nombre}} tiene {{ cuotas.length }} cuotas.</h6>
          </div>
      </div>
  </div>
</div>
