<div class="h-100 d-flex align-items-center justify-content-center">

  <div class="container">

    <div class="row justify-content-center">
      <div class="card m-5 col-md-10 col-lg-8 shadow border-0 text-center">

        <div class="mt-5">
          <img src="../../../assets/running-track.jpg" alt="Club Deportivo App" class="img-fluid mb-4">
          <h1>Bienvenido a GestaClub</h1>

            <img class="img-fluid m-4" src="../../../assets/logo_gestaclub.png" alt="Logo GestaClub App">

          <p>Gestión deportiva y administrativa fácil de tu club.</p>
          <div class="my-5">
            <button type="button" class="btn btn-primary me-2 w-25" (click)="goToLogin()">Login</button>
            <button type="button" class="btn btn-secondary w-25" (click)="goToRegister()">Register</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
