<div class="row my-4 animated fadeIn fast">
  <div class="col-12">
      <div class="card rounded-lg overflow-auto">
          <div class="card-body">
              <h4 class="card-title">Todas las Cuotas</h4>
              <h5 class="card-subtitle"></h5>
              <div class="table-responsive mt-4">
                  <table class="table table-bordered">
                      <thead>
                          <tr>
                              <th class="text-center">#</th>
                              <th class="text-center">dni</th>
                              <th class="text-center">nombre</th>
                              <th class="text-center">apellidos</th>
                              <th class="text-center">temporada</th>
                              <th class="text-center">mes</th>
                              <th class="text-center">importe</th>
                              <th class="text-center">estado</th>
                              <th class="text-center">fecha_pago</th>
                              <th class="text-center">tipo_pago</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let cuota of cuotas">
                              <td class="text-center">{{ cuota.id }}</td>
                              <td class="d-flex justify-content-between align-items-center">
                                  {{ cuota.dni_deportista }}
                                  <a routerLink="/cuota/listXdni/{{ cuota.dni_deportista }}">
                                      <img src="../../../assets/lupa.png"
                                      alt="Icono mostrar cuotas por deportista"
                                      class="icono">
                                  </a>
                              </td>
                              <td class="text-center">{{ cuota.nombre }}</td>
                              <td class="text-center">{{ cuota.apellidos }}</td>
                              <td class="text-center">{{ cuota.temporada }}</td>
                              <td class="d-flex justify-content-between align-items-center">
                                  {{ cuota.mes }}
                                  <a routerLink="/cuota/listXmes/{{ cuota.mes }}">
                                    <img class="icono" src="../../../assets/lupa.png"
                                    alt="Icono mostrar cuotas por mes">
                                  </a>
                              </td>
                              <td class="text-center">{{ cuota.importe }}</td>
                              <td class="text-center">{{ cuota.estado }}</td>
                              <td *ngIf="cuota.estado === 'pendiente' && cuota.fecha_pago === null
                                  && cuota.tipo_pago === ''; else elsePagado" class="text-center">
                                  <a routerLink="/cuota/formPago/{{ cuota.id }}"
                                  class="btn btn-success">Pagar</a>
                              </td>
                              <ng-template #elsePagado>
                                <td class="text-center">
                                  {{ cuota.fecha_pago }}
                                </td>
                              </ng-template>
                              <td class="text-center">{{ cuota.tipo_pago }}</td>
                          </tr>

                      </tbody>
                  </table>
              </div>
              <h6 class="">Hay {{ cuotas.length }} cuotas registradas.</h6>
          </div>
      </div>
  </div>
</div>
