<div class="container m-2 pb-5">
  <div id="menu" class="menu rounded-lg p-1">
    <div class="my-3">
      <div class="menu-item">
        <img src="../../../assets/listados.png" alt="Listados" class="menu-icon">
        <span class="menu-label">Listados</span>
      </div>
      <div class="m-3">
        <a routerLink="/cuota/listadoC" class="d-block py-2 text-decoration-none text-dark menu-link"
          [class.active]="isActive('/cuota/listadoC')"
          (click)="setActive('/cuota/listadoC')">
          Todas las Cuotas
        </a>
        <a routerLink="/cuota/listVencidasC" class="d-block py-2 text-decoration-none text-dark menu-link"
          [class.active]="isActive('/cuota/listVencidasC')"
          (click)="setActive('/cuota/listVencidasC')">
          Cuotas Pendientes
        </a>
        <a class="d-block py-2 text-decoration-none text-dark menu-link" style="cursor:pointer"
          [class.active]="isActive('/cuota/listXdni/' + dni)"
          (click)="preguntarDni()">
          Listado por persona
        </a>
      </div>
    </div>
    <div class="my-3">
      <div class="menu-item">
        <img src="../../../assets/cuotas.png" alt="Cuotas" class="menu-icon">
        <span class="menu-label">Generar Cuotas</span>
      </div>
      <div class="ms-3">
        <a href="#" class="d-block py-2 text-decoration-none text-dark">Masiva Mensual</a>
        <a href="#" class="d-block py-2 text-decoration-none text-dark">Crear Individual</a>
      </div>
    </div>
    <div class="my-3">
      <div class="menu-item">
        <img src="../../../assets/cobro.png" alt="Cobros" class="menu-icon">
        <span class="menu-label">Cobros</span>
      </div>
      <div class="ms-3">
        <a href="#" class="d-block py-2 text-decoration-none text-dark">Ver Recibos</a>
        <a href="#" class="d-block py-2 text-decoration-none text-dark">Modificar Recibo</a>
      </div>
    </div>
  </div>
</div>
