<div class="">

  <div class="container pb-5">
    <div class="row">
      <div class="col-md-6">
        <h4>Partido nº {{ id_partido }}</h4>
        <button class="btn btn-success me-1" (click)="iniciarCronometro()">Iniciar</button>
        <button class="btn btn-danger me-1" (click)="pausarCronometro()">Pausar</button>
        <button class="btn btn-warning me-1" (click)="resetCronometro()">Reiniciar</button>
        <button class="btn btn-secondary" (click)="solicitarTiempoPartida()">Minutos</button>

      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-4">
        <div class="cronometro">
          <h2>{{ obtenerTiempoFormato(tiempoRestante) }}</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">

          <div class="card">
            <div class="card-header">
              <h4>Jugadores en Juego</h4>
            </div>
            <div cdkDropList id="listaAlineacion" class="list-group" [cdkDropListData]="alineacion"
              [cdkDropListConnectedTo]="['listaAfectados']" (cdkDropListDropped)="drop($event)">
              <div class="list-group-item"
                *ngFor="let jugador of alineacion" cdkDrag>
                <div class="">
                  {{ jugador.nombre }} {{ jugador.apellidos }}
                  <span class="text-muted ms-3">Dorsal: {{ jugador.dorsal }}</span>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col-md-4">

      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <h4>Registrar Jugada</h4>
          </div>
          <div cdkDropList id="listaAfectados" class="list-group" [cdkDropListData]="afectados"
          [cdkDropListConnectedTo]="['listaAlineacion']" (cdkDropListDropped)="drop($event)">
            <div class="list-group-item" *ngFor="let jugador of afectados" cdkDrag>
              <div class="">
                {{ jugador.nombre }} {{ jugador.apellidos }}
                <span class="text-muted ms-3">Dorsal: {{ jugador.dorsal }}</span>
              </div>
            </div>
          </div>
          <div class="selectorJugada p-2">
            <label for="selectorCategoria" class="form-label">Elige jugada</label>
            <select class="form-select my-2" id="selectorCategoria" [(ngModel)]="jugadaSeleccionada">
              <option *ngFor="let jugada of jugadas" [ngValue]="jugada.id">{{ jugada.nombre }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-3 mb-3">
      <button class="btn btn-success w-100" (click)="anotarJugada()">Registrar Jugada</button>
    </div>
    <!-- <div class="col-md-3 mb-3">
      <button class="btn btn-danger w-100" (click)="salir()">Salir</button>
    </div> -->
  </div>
</div>
